@font-face {
    font-family: Norse-Bold;
    src: url(./fonts/Norse-Bold.otf);
}



body{
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left{
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    width: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Norse-Bold, sans-serif;
}

.right{
    display: flex;
    justify-content: center;
}